@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2196f3;
    overflow: hidden;
}

.swiper
{
    width: 900px;
    height: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide
{
    background-position: center;
    background-size: cover;
    width: 30%;
    height: 300px;
}
.testimonial
{
    position: relative;
    width: 100%;
    padding: 40px;
}